/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
  background-color: #222;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select,
ul {
  font-family: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #222;
}

/* || VARIABLES*/

:root {
  --BGCOLOR: red;
  --BORDER-COLOR: black;
  --CANVAS-HEIGHT: 0px;
  --CANVAS-WIDTH: 0px;
  --PICKED-COLOR: blue;
}

/* || GENERAL STYLES */
/* || UTILITIES */

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* COLORS */

/* BEM */

/* TITLE */

.title {
  padding: 2rem;
  text-align: center;
  color: aliceblue;
}

/* CONTAINER */

.button {
  text-align: center;
  margin-left: auto;
  display: block;
}

.container {
  width: 500px;
  height: 500px;
  /* border: 2px solid rebeccapurple; */
  background-color: black;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.container div {
  height: var(--CANVAS-HEIGHT);
  width: var(--CANVAS-WIDTH);
  /* border: 1px solid red; */
}

/* MENU */

.menu {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 0;
  width: 500px;
  margin: 0 auto;
}

.menu button {
  font-size: 1.5rem;
  border-radius: 10px;
  color: aliceblue;
  background-color: darkslategray;
  padding: 0.5rem;
}

.menu__picker-text {
  color: aliceblue;
  text-align: center;
  padding-top: 10px;
}

.menu__picker {
  margin: auto;
}

/* ATTRIBUTION */

.attribution {
  margin: 1rem;
  text-align: center;
  color: aliceblue;
}

/* MEDIA */
/* Small */
@media (min-width: 576px) {
}
/* Medium */
@media (min-width: 768px) {
}
/* Large */
@media (min-width: 992px) {
}
/* X-Large */
@media (min-width: 1200px) {
}
